# Programming Assignment: Random forest

In this assignment we will not only build a **random forest**, but also try to select the number of the trees to fit a particular criteria of quality.    
Let's take a look at original six tasks presented in Russian.

**Tasks will be duplicated in english further in this assignment**

1.    Загрузите данные из файла abalone.csv. Это датасет, в котором требуется предсказать возраст ракушки (число колец) по физическим измерениям.
2. Преобразуйте признак Sex в числовой: значение F должно перейти в -1, I — в 0, M — в 1. Если вы используете Pandas, то подойдет следующий код: data['Sex'] = data['Sex'].map(lambda x: 1 if x == 'M' else (-1 if x == 'F' else 0))
3. Разделите содержимое файлов на признаки и целевую переменную. В последнем столбце записана целевая переменная, в остальных — признаки.
4. Обучите случайный лес (sklearn.ensemble.RandomForestRegressor) с различным числом деревьев: от 1 до 50 (не забудьте выставить "random_state=1" в конструкторе). Для каждого из вариантов оцените качество работы полученного леса на кросс-валидации по 5 блокам. Используйте параметры "random_state=1" и "shuffle=True" при создании генератора кросс-валидации sklearn.cross_validation.KFold.  В качестве меры качества воспользуйтесь коэффициентом детерминации (sklearn.metrics.r2_score).
5. Определите, при каком минимальном количестве деревьев случайный лес показывает качество на кросс-валидации выше 0.52. Это количество и будет ответом на задание.
6. Обратите внимание на изменение качества по мере роста числа деревьев. Ухудшается ли оно?

In [1]:
import numpy as np

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.model_selection import KFold, cross_val_score

import pandas

## Task №1
*Ru*:  Загрузите данные из файла abalone.csv. Это датасет, в котором требуется предсказать возраст ракушки (число колец) по физическим измерениям.

*En:* Load data from abalone.csv file. This is a dataset, you want to predict the age of the shell (number of rings) from physical measurements with it.

In [2]:
df = pandas.read_csv('abalone.csv')
df

,Sex,Length,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

## Task №2
*Ru*: Преобразуйте признак Sex в числовой: значение F должно перейти в -1, I — в 0, M — в 1. Если вы используете Pandas, то подойдет следующий код: data['Sex'] = data['Sex'].map(lambda x: 1 if x == 'M' else (-1 if x == 'F' else 0))

*En:* Convert 'Sex' feature to numeric: F should go to -1, I to 0, M to 1. If you are using Pandas use the following code: data ['Sex'] = data ['Sex']. Map ( lambda x: 1 if x == 'M' else (-1 if x == 'F' else 0))

In [3]:
df['Sex'] = df['Sex'].map(lambda x: 1 if x == 'M' else (-1 if x =='F' else 0))
df

,Sex,Length,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
0,1,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,-1,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,1,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,0,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,-1,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,1,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,1,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,-1,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,1,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

## Task №3
*Ru*: Разделите содержимое файлов на признаки и целевую переменную. В последнем столбце записана целевая переменная, в остальных — признаки.

*En:* Split the data in the file into feature and target variable. The last column contains the target variable, the rest - features.

In [4]:
X = df.loc[:,'Sex':'ShellWeight']
X

,Sex,Length,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight
0,1,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500
1,1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700
2,-1,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100
3,1,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550
4,0,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550
...,...,...,...,...,...,...,...,...
4172,-1,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490
4173,1,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605
4174,1,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080
4175,-1,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960
4176,1,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950

In [5]:
y = df['Rings']
y

0       15
1        7
2        9
3       10
4        7
        ..
4172    11
4173    10
4174     9
4175    10
4176    12
Name: Rings, Length: 4177, dtype: int64

## Task №4
*Ru*: Обучите случайный лес (sklearn.ensemble.RandomForestRegressor) с различным числом деревьев: от 1 до 50 (не забудьте выставить "random_state=1" в конструкторе). Для каждого из вариантов оцените качество работы полученного леса на кросс-валидации по 5 блокам. Используйте параметры "random_state=1" и "shuffle=True" при создании генератора кросс-валидации sklearn.cross_validation.KFold.  В качестве меры качества воспользуйтесь коэффициентом детерминации (sklearn.metrics.r2_score).


*En:* Train a random forest (sklearn.ensemble.RandomForestRegressor) with a different number of trees: from 1 to 50 (don't forget to set "random_state = 1" in the constructor). For each of the options, evaluate the quality of the work of the resulting forest on cross-validation for 5 blocks. Use the "random_state = 1" and "shuffle = True" parameters when creating the sklearn.cross_validation.KFold cross-validation generator. Use the coefficient of determination (sklearn.metrics.r2_score) as a measure of quality.

In [6]:
cv = KFold(random_state=1, shuffle=True)
scores = []
found = False
for i in range(1, 51):
    RFR = RandomForestRegressor(random_state=1, n_estimators=i)
    RFR.fit(X, y)
    scores.append(cross_val_score(RFR, X, y, cv=cv, scoring='r2'))
    
    if np.mean(scores[i - 1]) > 0.52 and not found:
        print("number of trees should be T =", i)
        found = True

number of trees should be T = 21

## Task №5
*Ru*: Определите, при каком минимальном количестве деревьев случайный лес показывает качество на кросс-валидации выше 0.52. Это количество и будет ответом на задание.

*En:* Determine at what minimum number of trees the random forest shows quality on cross-validation above 0.52. This amount will be the answer to the task.

I have already figured that out while doing previous task, but let's do it another way

In [7]:
df_scores = pandas.DataFrame(scores)
df_scores

           0         1         2         3         4
0   0.196642  0.117624  0.250149  0.017945 -0.033987
1   0.349990  0.312488  0.414424  0.293152  0.336446
2   0.435556  0.394510  0.450715  0.343694  0.407694
3   0.453891  0.431817  0.488333  0.401717  0.448115
4   0.465166  0.461835  0.502452  0.424564  0.471144
5   0.470166  0.465502  0.503802  0.440244  0.477265
6   0.472404  0.463115  0.510251  0.449457  0.488102
7   0.478277  0.471563  0.520853  0.454364  0.489617
8   0.483469  0.473685  0.527581  0.465379  0.497070
9   0.482259  0.482871  0.537567  0.467640  0.506706
10  0.484436  0.480353  0.535234  0.475058  0.496975
11  0.493591  0.483007  0.534653  0.483341  0.500548
12  0.498573  0.488351  0.538360  0.484305  0.505699
13  0.505628  0.491642  0.540446  0.486950  0.511919
14  0.506065  0.498524  0.542380  0.489703  0.509233
15  0.504939  0.501806  0.545364  0.493401  0.511544
16  0.510391  0.507382  0.548425  0.494714  0.513547
17  0.510978  0.509256  0.551610  0.498784  0.515473
18  0.513216  0.511272  0.554764  0.501121  0.518773
19  0.515638  0.511338  0.553587  0.500403  0.516457
20  0.515843  0.512658  0.555489  0.496959  0.521696
21  0.516904  0.514088  0.553916  0.501108  0.518007
22  0.517091  0.516721  0.556397  0.499114  0.519391
23  0.516232  0.521724  0.558501  0.496328  0.522744
24  0.515323  0.521853  0.559718  0.498168  0.521182
25  0.516889  0.525409  0.558769  0.498258  0.522214
26  0.517359  0.521826  0.559368  0.497747  0.526897
27  0.516671  0.521484  0.561020  0.500434  0.528670
28  0.518384  0.522142  0.563215  0.500819  0.528217
29  0.520436  0.520118  0.563367  0.503163  0.528345
30  0.523270  0.516734  0.563742  0.503446  0.531018
31  0.524133  0.517984  0.564252  0.505431  0.532824
32  0.524618  0.518540  0.566187  0.508653  0.532540
33  0.523999  0.517666  0.566371  0.508601  0.533170
34  0.522743  0.518861  0.566146  0.508539  0.532817
35  0.522699  0.519685  0.565526  0.508531  0.533109
36  0.521366  0.519758  0.566255  0.508721  0.531059
37  0.521345  0.520008  0.566245  0.506716  0.533043
38  0.520585  0.520978  0.567190  0.506469  0.532358
39  0.520317  0.520783  0.565164  0.507568  0.533520
40  0.519927  0.522310  0.567805  0.505944  0.533058
41  0.519839  0.522650  0.567676  0.506577  0.533476
42  0.520515  0.521179  0.567629  0.507447  0.532798
43  0.520211  0.521485  0.568004  0.506482  0.532226
44  0.518068  0.521875  0.567124  0.506752  0.530721
45  0.517919  0.521687  0.567924  0.506247  0.531265
46  0.517583  0.519828  0.568271  0.507314  0.532897
47  0.518889  0.519928  0.568097  0.508273  0.535067
48  0.519893  0.521210  0.567982  0.509722  0.535258
49  0.519819  0.519949  0.568699  0.509698  0.536589

In [8]:
df_scores = df_scores.mean(1)

In [9]:
df_scores = df_scores.map(lambda x: x if x > 0.52 else None)
df_scores

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8          NaN
9          NaN
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15         NaN
16         NaN
17         NaN
18         NaN
19         NaN
20    0.520529
21    0.520804
22    0.521743
23    0.523106
24    0.523249
25    0.524308
26    0.524639
27    0.525656
28    0.526556
29    0.527086
30    0.527642
31    0.528924
32    0.530107
33    0.529961
34    0.529821
35    0.529910
36    0.529432
37    0.529472
38    0.529516
39    0.529470
40    0.529809
41    0.530043
42    0.529914
43    0.529681
44    0.528908
45    0.529008
46    0.529179
47    0.530051
48    0.530813
49    0.530951
dtype: float64

We got 21 once again

## Task №6
*Ru*: Обратите внимание на изменение качества по мере роста числа деревьев. Ухудшается ли оно?

*En:* Notice how the quality changes as the number of trees grows. Is it getting worse?

**Answer:** Nope, it's only get better and better: random forest don't suffer from overfitting that much