# Programming Assignment: Principal component analysis

A bit more challenging topic is upcoming next: **Principal component analysis** (PCA). The task is to reduce the dimension of Dow Jones Industrial Average.  
Let's take a look at original five tasks presented in Russian.

**Tasks will be duplicated in english further in this assignment**

1. Загрузите данные close_prices.csv. В этом файле приведены цены акций 30 компаний на закрытии торгов за каждый день периода. 
2. На загруженных данных обучите преобразование PCA с числом компоненты равным 10. Скольких компонент хватит, чтобы объяснить 90% дисперсии?
3. Примените построенное преобразование к исходным данным и возьмите значения первой компоненты. 
4. Загрузите информацию об индексе Доу-Джонса из файла djia_index.csv. Чему равна корреляция Пирсона между первой компонентой и индексом Доу-Джонса? 
5. Какая компания имеет наибольший вес в первой компоненте? Укажите ее название с большой буквы.

In [1]:
import numpy as np
from sklearn.decomposition import PCA
import pandas

## Task №1
*Ru*: Загрузите данные close_prices.csv. В этом файле приведены цены акций 30 компаний на закрытии торгов за каждый день периода. 


*En:* Load the close_prices.csv data. This file contains stock prices of 30 companies at the close of trading for each day of the period

In [2]:
df = pandas.read_csv('close_prices.csv')
df

,date,AXP,BA,CAT,CSCO,CVX,DD,DIS,GE,GS,...,PFE,PG,T,TRV,UNH,UTX,V,VZ,WMT,XOM
0,2013-09-23,76.440002,117.510002,85.029999,24.270000,125.519997,59.409999,64.750000,24.280001,165.250000,...,28.799999,79.279999,34.220001,86.379997,71.820000,109.419998,196.240005,47.980000,76.419998,87.750000
1,2013-09-24,76.070000,119.000000,85.110001,24.139999,124.489998,59.319997,64.320000,24.320000,162.970001,...,28.709999,78.620003,34.090000,85.870003,72.320000,110.000000,193.339996,47.270000,75.750000,87.360001
2,2013-09-25,75.989998,118.510002,84.500000,24.430000,124.070000,59.319997,64.449997,24.230000,162.309998,...,28.490000,77.720001,34.049999,85.980003,71.980003,109.260002,191.559998,46.950001,74.650002,87.139999
3,2013-09-26,76.320000,119.379997,84.199997,23.770000,123.489998,59.509996,65.239998,24.250000,162.289993,...,28.520000,78.050003,34.230000,85.830002,72.160004,109.660004,193.559998,47.669998,74.620003,87.070000
4,2013-09-27,75.889999,118.739998,83.800003,23.330000,122.639999,59.009995,65.190002,24.049999,159.850006,...,28.879999,77.209999,33.980000,85.410004,71.989998,109.360001,193.050003,47.000000,74.360001,86.900002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,2015-03-12,81.559998,152.039993,80.190002,28.240000,102.419998,80.400001,107.169998,25.400000,189.949997,...,34.000000,82.089996,33.130001,107.830002,114.879997,121.239998,269.579987,48.730000,81.900002,84.220001
370,2015-03-13,80.599998,151.570007,79.230003,27.940001,101.620003,80.499997,106.440002,25.040001,189.339996,...,34.000000,81.830002,32.759998,106.720001,115.250000,118.739998,265.029999,48.840000,81.900002,83.870003
371,2015-03-16,81.500000,153.669998,79.970001,28.299999,103.129997,77.069994,107.370003,25.450001,191.899994,...,34.439999,83.559998,33.060001,108.930000,118.519997,120.070000,269.019989,49.270000,83.290001,84.760002
372,2015-03-17,81.059998,154.509995,78.449997,28.150000,103.169998,74.680001,106.959999,25.309999,190.570007,...,34.169998,82.849998,32.900002,108.750000,117.599998,119.860001,264.500000,48.950001,82.620003,84.080002
373,2015-03-18,81.860001,155.729996,81.330002,28.150000,106.699997,76.009997,107.970001,25.639999,192.320007,...,34.380001,83.750000,33.590000,109.519997,119.959999,120.309998,267.670013,49.540001,82.529999,86.070000

## Task №2
*Ru*: На загруженных данных обучите преобразование PCA с числом компоненты равным 10. Скольких компонент хватит, чтобы объяснить 90% дисперсии?

*En:* Train the PCA (with the number of components equal to 10) on the loaded data. How many components are enough to explain 90% of the variance?

In [3]:
X = df.loc[:, 'AXP':]

In [4]:
pca = PCA(n_components=10)
pca.fit(X)

PCA(n_components=10)

In [5]:
explained_variance = pca.explained_variance_ratio_
#explained_variance_ratio_ содержит процент дисперсии, который объясняет каждая компонента

dispersion_sum = 0
counter = 0
for i in explained_variance:
    if dispersion_sum < 0.9:
        dispersion_sum += i
        counter += 1
    else: break
        
counter

4

## Task №3
*Ru*: Примените построенное преобразование к исходным данным и возьмите значения первой компоненты. 

*En:* Apply the constructed transform to the original data and take the values of the first component.

In [6]:
first_component = pca.transform(X)[:,0]
first_component.shape

(374,)

## Task №4
*Ru*: Загрузите информацию об индексе Доу-Джонса из файла djia_index.csv. Чему равна корреляция Пирсона между первой компонентой и индексом Доу-Джонса? 


*En:* Download the Dow Jones index information from the djia_index.csv file. What is the Pearson correlation between the first component and the Dow Jones index?

In [7]:
df = pandas.read_csv('djia_index.csv')
df

           date          ^DJI
0    2013-09-23  15401.379883
1    2013-09-24  15334.589844
2    2013-09-25  15273.259766
3    2013-09-26  15328.299805
4    2013-09-27  15258.240234
..          ...           ...
369  2015-03-12  17895.220703
370  2015-03-13  17749.310547
371  2015-03-16  17977.419922
372  2015-03-17  17849.080078
373  2015-03-18  18076.189453

[374 rows x 2 columns]

In [8]:
DJI = df['^DJI'].values

In [9]:
np.corrcoef(first_component, DJI)

array([[1.        , 0.90965222],
       [0.90965222, 1.        ]])

## Task №5
*Ru*: Какая компания имеет наибольший вес в первой компоненте? Укажите ее название с большой буквы. 

*En:* Which company has the most weight in the first component? Enter its name with a capital letter.

In [10]:
#Поле components_ содержит информацию о том, какой вклад вносят признаки в компоненты.
components = pca.components_[0]

max_component = components.max()
max_component

0.5796839457473606

In [11]:
max_component_index = 0
for i in range(len(components)):
    if max_component == components[i]:
        max_component_index = i
        break
        
max_component_index

26

In [12]:
X.columns[max_component_index]

'V'