# Programming Assignment: Support Vector Machine

This week moving on to slightly more conceptually complex linear classification methods. We will start with Support Vector Machines. This's 101 SVM assignment where we will just create and train one simple model.
Original tree tasks will be presented in Russian.

**Tasks will be duplicated in english further in this assignment**

1. Загрузите выборку из файла svm-data.csv. В нем записана двумерная выборка (целевая переменная указана в первом столбце, признаки — во втором и третьем).
2. Обучите классификатор с линейным ядром, параметром C = 100000 и random_state=241. Такое значение параметра нужно использовать, чтобы убедиться, что SVM работает с выборкой как с линейно разделимой. При более низких значениях параметра алгоритм будет настраиваться с учетом слагаемого в функционале, штрафующего за маленькие отступы, из-за чего результат может не совпасть с решением классической задачи SVM для линейно разделимой выборки.
3. Найдите номера объектов, которые являются опорными (нумерация с единицы). Они будут являться ответом на задание. Обратите внимание, что в качестве ответа нужно привести номера объектов в возрастающем порядке через запятую или пробел. Нумерация начинается с 1.

In [1]:
import numpy as np
from sklearn import svm
import pandas

## Task №1
*Ru*:Загрузите выборку из файла svm-data.csv. В нем записана двумерная выборка (целевая переменная указана в первом столбце, признаки — во втором и третьем).

*En*: Load sample from svm-data.csv file. It contains a two-dimensional sample (the target variable is in the first column, features - in the second and third).

In [2]:
df = pandas.read_csv('svm-data.csv', header=None)
df

     0     1     2
0  0.0  0.70  0.29
1  1.0  0.23  0.55
2  0.0  0.72  0.42
3  0.0  0.98  0.68
4  0.0  0.48  0.39
5  1.0  0.34  0.73
6  0.0  0.44  0.06
7  1.0  0.40  0.74
8  0.0  0.18  0.18
9  1.0  0.53  0.53

In [3]:
X = df[[1,2]]
y = df[0]

## Task №2
*Ru*:Обучите классификатор с линейным ядром, параметром C = 100000 и random_state=241. Такое значение параметра нужно использовать, чтобы убедиться, что SVM работает с выборкой как с линейно разделимой. При более низких значениях параметра алгоритм будет настраиваться с учетом слагаемого в функционале, штрафующего за маленькие отступы, из-за чего результат может не совпасть с решением классической задачи SVM для линейно разделимой выборки.

*En*: Train a classifier with a linear kernel, parameter C = 100000 and random_state = 241.

In [4]:
clf = svm.SVC(kernel = 'linear', C = 100000, random_state=241)
clf.fit(X, y)

SVC(C=100000, kernel='linear', random_state=241)

## Task №3
*Ru*: Найдите номера объектов, которые являются опорными (нумерация с единицы). Они будут являться ответом на задание. Обратите внимание, что в качестве ответа нужно привести номера объектов в возрастающем порядке через запятую или пробел. Нумерация начинается с 1.

*En:* Find the numbers of objects that algorithm identified as support (numbering from one). This numbers will be the answer to the task. Please note that as an answer, you need to give the object numbers in ascending order, separated by commas or spaces. Numbering starts from 1.

In [5]:
clf.score(X, y)

1.0

In [6]:
clf.support_

array([3, 4, 9])